body {
  background-color: #ccccff;

}

.navbar-header {
  height: 150px;
  float: left;
  width: 100%;
}

.navbar-brand {
  text-align: center;
}

#logo-img {
  width: 120px;
  height: 120px;
}

.navbar-header .navbar-form {
  float: none;
  text-align: center;
}


.navbar-form input.search-form {
  width: 500px;
}

#about-link {
  float: right;
}

#main-content {
  width: 800px;
}

.panel .panel-body {
  background-color: #f8f8f8;
}

.panel-image {
  float: left;
  width: 100px;
}

.panel-text {
  margin-left: 15px;
  float: left;
}

.label-metacritic-good {
  background-color: #00cc00;
}

.rating-img {
  width: 20px;
  height: 20px;
}

.panel .img-text {
  float: left;
  width: 200px;
}

#movie-panel-image {
  width: 200px;
}

.panel .panel-heading {
  background-color: #e6e6e6;
}

.panel-heading h3 {
  text-align: center;
}

.panel .panel-text {
  width: 500px;
}

.img-text-text {
  margin-top: 10px;
}



.label-metacritic-good {
  background-color: #00cc00;
}

.label-metacritic-bad {
  background-color: #ff1a1a;
}

.label-metacritic-medium {
  background-color: #ffdb4d;
  color: #0f0f0f;
}

a:link {
  text-decoration:none;
}

a:visited {
  text-decoration:none;
}

a:hover {
  text-decoration:none;
}